<app-header></app-header>
<br><br><br><br>
<div class="container">
    <div class="form-style-5">
    <form>
     <fieldset>
     <legend>
     <!-- <span class="number"></span> -->
     Change Passwsord Form</legend>
        <!-- <img src="./user.png" class="viewpro"> -->
       <br><br> 
       <div class="form-group">
            <span>Password</span>
            <input #oldpass="ngModel" type="password" placeholder="Enter Old Password *" [(ngModel)]="oldpassword" name="oldpassword" [class.is-invalid]="oldpass.invalid && oldpass.touched" required
            pattern="^(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$"> 
            <span *ngIf="oldpass.errors && (oldpass.invalid || oldpass.touched) && oldpass.errors.pattern" style="color:red; font-size:16px;">Password contain 8 to 10 character include capital letter,digit and special character.</span>
            <span *ngIf="oldpass.errors && (oldpass.invalid && oldpass.touched) && oldpass.errors.required" style="color:red; font-size:16px;">Old Password is required.</span>
      </div>
      <div class="form-group">
          <span>New Password</span>
         <input #newpass="ngModel" type="password" placeholder="Enter Your New Password *" [(ngModel)]="newpassword" name="newpassword" [class.is-invalid]="newpass.invalid && newpass.touched" required
         pattern="^(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$"> 
         <span *ngIf="newpass.errors && (newpass.invalid || newpass.touched) && newpass.errors.pattern" style="color:red; font-size:16px;">New Password contain 8 to 10 character include capital letter,digit and special character.</span>
            <span *ngIf="newpass.errors && (newpass.invalid && newpass.touched) && newpass.errors.required" style="color:red; font-size:16px;">New Password is required.</span>
       </div>  
       <div class="form-group">
         <span>Reeenter New Password</span>
         <input #renewpass="ngModel" type="password" placeholder="Reenter Your New Password *" [(ngModel)]="renewpassword" name="renewpassword" [class.is-invalid]="renewpass.invalid && renewpass.touched" required
         pattern="^(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$"> 
         <span *ngIf="renewpass.errors && (renewpass.invalid || renewpass.touched) && renewpass.errors.pattern" style="color:red; font-size:16px;">New Password contain 8 to 10 character include capital letter,digit and special character.</span>
         <span *ngIf="renewpass.errors && (renewpass.invalid && renewpass.touched) && renewpass.errors.required" style="color:red; font-size:16px;">New Password is required.</span>
    
      </div>
    </fieldset>
    <br><br>
     </form>
    <a><button class="button" (click)="onDone()">Done</button></a>&nbsp;&nbsp;
    <a><button class="button"(click)="onCancel()">Cancel</button></a>
 </div>
  </div>
  <app-footer></app-footer>