<app-header></app-header>
<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Image Gallery</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-top-border" style="width:1240px; margin-left:100px;">
    <h3>Image Gallery</h3>
    <div class="row gallery-item">
        <div class="col-md-4">
            <a href="img/elements/g1.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g1.jpg);"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="img/elements/g2.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g2.jpg);"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="img/elements/g3.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g3.jpg);"></div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="img/elements/g4.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g4.jpg);"></div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="img/elements/g5.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g5.jpg);"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="img/elements/g6.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g6.jpg);"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="img/elements/g7.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g7.jpg);"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="img/elements/g8.jpg" class="img-pop-up">
                <div class="single-gallery-image" style="background: url(../../assets/img/elements/g8.jpg);"></div>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>