<div class="container" >
  <div>&nbsp;</div>
  <div class="row">
    <div class="col-md-10">
      <b style="font-size:18px; margin-left:10px;">Select NOP</b>
      <select  #fknopname="ngModel" [(ngModel)]="fk_nop_name" name="fk_nop_name" (change)="selectChangeHandler($event)" class="form-control"  style="width:20%;  height:30px; margin-left:12%; margin-top:-7%;"
         required>
        <option *ngFor="let item of nop_arr" [value]="item.nop_name" >{{item.nop_name}}</option>
     </select>
   </div>
   
  </div>
</div>
<div>&nbsp;</div>


<mat-form-field style="width:770px;margin-left: 250px;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Name">
</mat-form-field>
<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort  [dataSource]="dataSource" >
    <!-- Id Column -->
    <ng-container matColumnDef="donor_email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Donor_Email</th>
      <th mat-header-cell *matHeaderCellDef> Donor_Email </th>
      <td mat-cell *matCellDef="let row">{{row.donor_email}}</td>
    </ng-container>

    <ng-container matColumnDef="donor_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Donor_Name</th>
      <th mat-header-cell *matHeaderCellDef>Donor_Name </th>
      <td mat-cell *matCellDef="let row">{{row.donor_name}}</td>
    </ng-container>

    <ng-container matColumnDef="donor_contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Donor_Contact</th>
      <th mat-header-cell *matHeaderCellDef> Donor_Contact</th>
      <td mat-cell *matCellDef="let row">{{row.donor_contact}}</td>
    </ng-container>

    <ng-container matColumnDef="donor_PAN_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Donor_PanNo</th>
      <th mat-header-cell *matHeaderCellDef> Donor_PanNo </th>
      <td mat-cell *matCellDef="let row">{{row.donor_PAN_no }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="transaction_amt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let row">{{row.transaction_amt}}</td>
    </ng-container>

    <ng-container matColumnDef="transaction_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let row">{{row.transaction_date | date}}</td>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>
</div>




