<div class="page-content" style="height:676px;" style="position:fixed;">
  <div class="form-v1-content">
    <div class="wizard-form">

      <section>
        <div class="inner">
          <form (ngSubmit)="addform(f)" #f="ngForm"
            style="height:360px; margin-left: 10%;margin-right: 10%;margin-top:10%; margin-bottom: 10%; width:350px;">
            <p style="text-align: center;"><b>Forget Password</b></p>
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <fieldset>
                  <legend>Your Email </legend>
                    <input  #email="ngModel" class="form-control"  type="email" [(ngModel)]="ngo_email" name="ngo_email" placeholder="Email" [class.is-invalid]="email.invalid && email.touched" required
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                
                </fieldset>
                <span *ngIf="email.errors && (email.invalid || email.touched) && email.errors.pattern" style="color:red; font-size:14px;">Please enter a valid email address.</span>
                <span *ngIf="email.errors && (email.invalid && email.touched) && email.errors.required" style="color:red; font-size:14px;">Email is required.</span>
              </div>
            </div>
           <div>
            <button mat-button (click)="onForget()" id="btn_green" type="submit" class="btn"
                style="margin-left:24%; ">Send Code</button>
            </div>
        </form>
      </div>
       </section>
    </div>
 </div>
</div>
