<app-header></app-header>
<!-- <<app-contact></app-contact>> -->
<!-- <br><br><br>
<button (click)="onlogout()">Logout</button> -->
<br><br><br>
    <div class="reson_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Reason of Helping</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" >
                <div class="col-lg-4 col-md-6" *ngFor="let item of nop_arr" style="padding:20px;">
                    <div class="single_reson" >
                        <div class="thum" >
                            <div class="thum_1">
                                <img src="https://source.unsplash.com/1600x1600/?{{item.nop_name}}" alt="" style="height:370px; width:650px;">
                            </div>
                        </div>
                        <div class="help_content">
                            <h4>{{item.nop_name}}</h4>
                            <!-- <p>Lorem ipsum, or lipsum as it is 
                                sometimes known, is dummy 
                                text used in laying out print.</p> -->
                                <p>{{item.nop_desc}}</p>
                            <!-- <a routerLink="/nopdetail/item.nop_id" class="read_more">Read More</a> -->
                            <button (click)="onReadMore(item.nop_name)" style="border:none; background: white;" class="read_more">Read More</button>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <!-- reson_area_end  -->

<app-footer></app-footer>