<mat-sidenav-container class="sidenav-container" style="height:100%;">
    <mat-sidenav 
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary" routerLink=""(click)="onclickmenu()">DASHBOARD</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="tables">  <img src="{{'http://localhost:3000/images/home.png'}}" height="10px" width="38px"><td >
        <td><b><h4 style="font-size: 14px;">Home</h4></b></td></a>
        <a mat-list-item routerLink="viewprofile">  <img src="{{'http://localhost:3000/images/viewprofile.jpg'}}" height="40px" width="40px"><td >
        <td><b><h4 style="font-size: 14px;">View Profile</h4></b></td></a>
        <a mat-list-item routerLink="editprofile">  <img src="{{'http://localhost:3000/images/viewprofile.jpg'}}" height="40px" width="40px"><td >
          <td><b><h4 style="font-size: 14px;">Edit Profile</h4></b></td></a>
         
        <a mat-list-item routerLink="charts"><img src="{{'http://localhost:3000/images/chart.jpg'}}" height="30px" width="35px"><td >
          <td><b><h4 style="font-size: 14px;">Chart Anaylis</h4></b></td></a>
          <a mat-list-item routerLink="detailevent"><img src="{{'http://localhost:3000/images/event.png'}}" height="30px" width="35px"><td >
            <td><b><h4 style="font-size: 14px;">Manage Event</h4></b></td></a>
    
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">
  
          </mat-icon>
        </button>
        <span><img src="{{'http://localhost:3000/images/logo.png'}}" style="height:60px; width:200px; zoom:120%;" ></span>
        <button mat-raised-button color="accent" style="margin-left: 900px;" (click)="onclick()">LOGOUT</button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>