 <app-header></app-header>
 <!-- bradcam_area_start  -->
 <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->



<div class="news__area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>News & Updates</span></h3>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-12" >
                <div class="news_active owl-carousel" >
                    <div class="single__blog d-flex align-items-center" *ngFor="let item of news_arr1" style="margin:20px;">
                        <div class="thum">
                            <img src="{{item.urlToImage}}" alt="" style="height:270px;">
                        </div>
                        <div class="newsinfo">
                            <span>{{item.publishedAt | date}}</span>
                            <a href="single-blog.html">
                                <h3>{{item.title}}</h3>
                            </a>
                            <p>{{item.description}}</p>
                            <a class="read_more" href="{{item.url}}">Read More</a>
                        </div>
                    </div>
                    <!-- <div class="single__blog d-flex align-items-center">
                        <div class="thum">
                            <img src="img/news/2.png" alt="">
                        </div>
                        <div class="newsinfo">
                            <span>July 18, 2019</span>
                            <a href="single-blog.html">
                                <h3>Pure Water Is More 
                                    Essential</h3>
                            </a>
                            <p>The passage experienced a 
                                surge in popularity during the 
                                1960s when used it on their  
                                sheets, and again.</p>
                            <a class="read_more" href="single-blog.html">Read More</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news__area_end  -->

<app-footer></app-footer>
